@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.todo {
    margin-top: 20px;
    width: 600px;
    height: fit-content;
}

.add-todo {
    width: 600px;
}

.completed {
    text-decoration: line-through;
}

input[type=text]
{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}